.collection {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  
    margin: 60px auto;
    max-width: 800px;
}

.filters2 {
  height: auto;
  width: 100px;
  max-height: 60px;


}


.filters {
  display: grid;
  flex-wrap: wrap;
  columns: 4;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  margin: 60px auto;
  max-width: 800px;
  max-height: 200px;
  
}

.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 25px 15px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  width: 120px;
  max-height: 100%;
  max-width: 180%;

}

.button:hover {
  background-color:gray;
  color: black;
}


.prod__image {
    display: block;
    min-height: 200px;
    width: 100%;
    height: auto;
  }
  
  
.prod__price {
      font-family: sans-serif;
      font-size: 14px;

  }

  .productsview {
    display: flex;
    flex-wrap: wrap;
    columns: 3;
    margin-left: 265px;
    margin-top: 80px;
    grid-gap: 20px
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: 80px;
    grid-gap: 20px
}

.wrapper {
    display: grid;
  }
