*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.product h3{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.image{
    max-width: 160px;
    max-height: 190px;
    align-items: center;
    width: 100%;
    height: auto;
}

.cat{
    max-width: 200px;
    max-height: 200px;
    align-items: center;
}

.image2{
  max-width: 340px;
  max-height: 400px;
  align-items: center;
  width: 100%;
  height: auto;
}

#main {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;

  }
  
 #main div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
  }
  
  /* relevant styles */
  .img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 7, 12, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .prod__longdes {
    background-color: #e5e5e5;
    display: block;
    min-height: 100%;
    width: 100%;
    align-items: center;

  }
