.product h3{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

image{
    max-width: 200%;
    max-height: 200%;
}

.cat{
    max-width: 200px;
    max-height: 200px;

}